.footer
	//position: absolute
	//left: 0
	//right: 0
	//bottom: 0
	width: 100%
	padding: 35px 0
	background: $accent-color
	color: #fff
	font-size: 0
	.footer-col
		font-size: 1.8rem
		&:not(:last-child)
			margin:
				bottom: 15px
	.social-list-block
		.social-list-caption
			margin:
				right: 7px
		.social-list-caption,
		.social-list
			display: inline-block
			vertical-align: middle
	+MQ(L)
		.footer-col__wrapper
			margin: 0 -10px
		.footer-col
			display: inline-block
			vertical-align: top
			width: 33.33333%
			text-align: center
			padding: 0 10px
			&:not(:last-child)
				margin:
					bottom: 0
			&.copyright
				float: left
				text-align: left
			&.social-list-block
				float: right
				text-align: right
