.header
	background-color: $accent-color
	color: #fff
	padding: 7px 0
	font-size: 0
	.main-logo
		display: block
		width: 50px
	.burger
		position: absolute
		right: 20px
		top: 50%
		margin:
			top: -15px
	+MQ(M)
		.main-nav,
		.main-logo
			display: inline-block
			vertical-align: middle
		.main-nav
			width: 100%
			padding:
				left: 100px
		.main-logo
			width: 75px
			margin:
				right: -75px
