body
  line-height: 1.35
  width: auto
  font:
    family: $primary-font
    size: 1.4rem
  direction: ltr
  overflow-x: hidden
  min-height: 100%
  position: relative
  color: #000
  &.overflow-state
    overflow: hidden

body:not(.front)
  .wrapper
    padding:
      top: $header-height-mob
  +MQ(M)
    .wrapper
      padding:
        top: $header-height

.wrapper
  min-height: 100vh
  //padding-bottom: 187px
  +MQ(L)
    //padding-bottom: 187px


.container
  position: relative
  max-width: $container-width
  width: 100%
  padding:
    right: $container-outer-space
    left: $container-outer-space
  margin:
    right: auto
    left: auto

a
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: none

p
  font-size: 1.8rem
  line-height: 1.35
  &:not(:last-child)
    margin:
      bottom: 20px
  a
    color: $accent-color
    font-weight: bold
    text-decoration: underline
    transition: .2s ease
    &:hover
      color: $accent-color-hover
      text-decoration: none

.paragraph
  &--accent
    font-weight: bold

section
  padding:
    top: 30px
    bottom: 30px
  +MQ(L)
    padding:
      top: 50px
      bottom: 80px

.link
  text-decoration: underline
  &:hover
    color: $accent-color-hover
    text-decoration: none

.show-only-mobile
  display: inline-block
  +MQ(M)
    display: none

.hide-only-mobile
  display: none
  +MQ(M)
    display: inline-block

.video-player
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 100%
  z-index: 0
  display: none
  &:after
    content: ""
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    z-index: 100
  +MQ(L)
    display: block

.js-video-container
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 0
