.categories-links
  font-size: 2.4rem
  line-height: 1.5
  &__item
    padding:
      top: 8px
      bottom: 8px
      right: 30px
    &--group
      position: relative
      padding:
        left: 20px
    &.active
      .categories-links__link
        text-decoration: underline
        &:hover
          text-decoration: none
  &__arrow-link
    display: inline-block
    vertical-align: middle
    position: absolute
    right: 12px
    top: 12px
    &.is-up
      .categories-links__arrow-icon
        transform: rotate(180deg)
  &__arrow-icon
    display: block
    font-size: 1.2rem
    color: inherit
  +MQ(M)
    font-size: 1.6rem
    &__item
      &--group
        padding:
          left: 0
  +MQ(L)
    &__link
      transition: .2s ease
      &:hover
        color: $accent-color-hover
    &__item--single
      .categories-links__link
        transition: .2s ease
    &__arrow-icon
      transition: .2s ease
      &:hover
        color: $accent-color-hover

.subcategories-links
  display: none
  &.open
    display: block
  &__item
    padding: 7px
    &:first-child
      padding:
        top: 12px
    &:last-child
      padding:
        bottom: 9px
  &--sublevel
    font-size: 2.2rem
    line-height: 1.35
  +MQ(M)
    &--sublevel
      font-size: 1.4rem
  +MQ(L)
    &__link
      transition: .2s ease
      &:hover
        color: $accent-color-hover
        border-bottom-color: transparent
