.hot-links
  &__list
    margin:
      bottom: 50px
  &__item
    margin:
      bottom: 20px
  &__link
    display: inline-block
  &__icon,
  &__text
    display: inline-block
    vertical-align: top
  &__text-help
    border-bottom: 1px solid rgba(#000, .3)
  &__icon
    font-size: 4rem
    color: $accent-color
    width: 55px
    margin:
      right: -55px
  &__text
    font-size: 1.8rem
    width: 100%
    line-height: 1.2
  &__inline-blocks
    display: inline-block
    font-size: 0
    .hot-links
      &__text
        font-size: 2.2rem
        padding:
          left: 55px
  &__accent-block
    display: inline-block
    padding: 20px 25px
    background-color: $accent-color
    color: #fff
    width: auto
    .hot-links
      &__icon
        color: inherit
        font-size: 5rem
        width: 65px
        margin:
          right: -65px
      &__icon,
      &__text
        vertical-align: middle
      &__text
        padding:
          left: 65px
      &__text-help
        border-bottom: none
  +MQ(L)
    &__link,
    &__text-help
      transition: .2s linear
      &:hover
        .hot-links
          &__text,
          &__icon
            color: $accent-color-hover
          &__text-help
            border-bottom-color: transparent
    &__accent-block
      transition: .2s ease
      &:hover
        background-color: $accent-color-hover
        .hot-links
          &__text,
          &__icon
            color: #fff
