.mfp-close
  font-size: 0 !important
  padding: 0 !important
  width: auto !important
  line-height: 1
  height: auto
  &:before
    content: $icon-close
    display: block
    font-family: icomoon
    font-size: 2.2rem
    color: #fff
  +MQ(M)
    &:before
      font-size: 3.2rem

.mfp-image-holder
  padding:
    left: 20px
    right: 20px
  .mfp-close
    right: 0
    top: 10px
  +MQ(M)
    .mfp-close
      right: -60px
      top: 40px

.mfp-counter
  display: none

.mfp-arrow
  &:before,
  &:after
    border: none
  &:before
    content: $icon-right-arrow
    border: none
    display: inline-block
    vertical-align: middle
    font-family: icomoon
    font-size: 3rem
    color: #fff
  &-left
    transform: rotate(180deg)
