.main-title
  font-family: $decorate-font
  font-size: 4.6rem
  font-weight: normal
  +MQ(M)
    font-size: 6.6rem

.main-subtitle
  font-family: $decorate-font
  font-size: 3.6rem
  font-weight: normal
  +MQ(M)
    font-size: 4.2rem
    line-height: 1
