.main-title
  font-family: $decorate-font
  font-size: 5.6rem
  font-weight: normal
  +MQ(M)
    font-size: 9.6rem

.main-subtitle
  font-family: $decorate-font
  font-size: 2.6rem
  font-weight: normal
  +MQ(M)
    font-size: 3.2rem
    line-height: 1

.page-title
  font-family: $decorate-font
  font-weight: normal
  font-size: 3.6rem
  margin:
    bottom: 30px
  line-height: 1.1
  +MQ(L)
    font-size: 5rem

.page-subtitle
  font-family: $decorate-font
  font-weight: normal
  font-size: 3.6rem
  margin:
    bottom: 30px
  +MQ(L)
    font-size: 4.4rem

.page-subtitle-sublevel-1
  font-family: $decorate-font
  font-weight: normal
  font-size: 2.2rem
  line-height: 1.2
  margin:
    bottom: 20px
  +MQ(L)
    font-size: 2.4rem

.page-subtitle-sublevel
  font-family: $primary-font
  font-size: 2rem
  font-weight: normal
  margin:
    bottom: 15px
  +MQ(L)
    font-size: 2.2rem

.popup-title
  font-family: $decorate-font
  font-size: 3rem
  font-weight: normal
  margin:
    bottom: 20px
  line-height: 1.15
  +MQ(L)
    font-size: 4rem

.nav-tabs__titles
  margin:
    bottom: 30px
  li
    &.active
      a
        color: $accent-color-hover
  +MQ(M)
    margin:
      left: -25px
      right: -25px
    li
      padding:
        left: 25px
        right: 25px
