.two-parts-block
  &__const-part
    margin:
      bottom: 40px
  &__inner
    max-width: 700px
  &__var-part
    .card-list__item
      width: 100%
  +MQ(M)
    font-size: 0
    &__const-part,
    &__var-part
      display: inline-block
      vertical-align: top
    &__const-part
      display: inline-block
      position: relative
      width: 212px
      margin:
        bottom: 0
        right: -212px
      z-index: 1
    &__var-part
      width: 100%
      padding:
        left: 250px
    &__inner
      padding: 0 20px
  +MQ(EXM)
    &__var-part
      .card-list__item
        width: 50%
  +MQ(EXL)
    &__var-part
      .card-list__item
        width: 33.3333%