.nav-tabs {
  margin: 0 -10px 20px;
  li {
    display: inline-block;
    padding: 0 10px;

    text-align: center;
    &.active {
      > a {
        cursor: default;
        border-bottom-color: transparent;
        font-weight: bold;
      }
    }
    > a {
      position: relative;

      display: inline-block;

      width: 100%;

      transition: .2s ease;
      text-align: center;
      text-decoration: none;

      background: transparent;
      font-size: 2.1rem;
      border-bottom: 1px dashed rgba(#000, .5);
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.tab-content {
  display: inline-block;

  width: 100%;
  padding: 0 0 0;
  > .tab-pane {
    display: block;
    visibility: hidden;
    overflow: hidden;

    height: 0;
  }
  > .active {
    display: block;
    visibility: visible;

    height: auto;
  }
}
