@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?4catwk');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?4catwk#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/fonts/icomoon.ttf?4catwk') format('truetype'),
  url('../fonts/icomoon/fonts/icomoon.woff?4catwk') format('woff'),
  url('../fonts/icomoon/fonts/icomoon.svg?4catwk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-businessman2 {
  &:before {
    content: $icon-businessman2;
  }
}
.icon-business-meeting {
  &:before {
    content: $icon-business-meeting;
  }
}
.icon-earth {
  &:before {
    content: $icon-earth;
  }
}
.icon-person-check {
  &:before {
    content: $icon-person-check;
  }
}
.icon-statistics {
  &:before {
    content: $icon-statistics;
  }
}
.icon-personal-mail {
  &:before {
    content: $icon-personal-mail;
  }
}
.icon-edit-document {
  &:before {
    content: $icon-edit-document;
  }
}
.icon-document-3 {
  &:before {
    content: $icon-document-3;
  }
}
.icon-demostration {
  &:before {
    content: $icon-demostration;
  }
}
.icon-curriculum {
  &:before {
    content: $icon-curriculum;
  }
}
.icon-curriculum-1 {
  &:before {
    content: $icon-curriculum-1;
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart;
  }
}
.icon-work {
  &:before {
    content: $icon-work;
  }
}
.icon-document {
  &:before {
    content: $icon-document;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-graduate {
  &:before {
    content: $icon-graduate;
  }
}
.icon-document-1 {
  &:before {
    content: $icon-document-1;
  }
}
.icon-businessman {
  &:before {
    content: $icon-businessman;
  }
}
.icon-businessman-1 {
  &:before {
    content: $icon-businessman-1;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-right-arrow {
  &:before {
    content: $icon-right-arrow;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-fb {
  &:before {
    content: $icon-fb;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-atom {
  &:before {
    content: $icon-atom;
  }
}
.icon-electric {
  &:before {
    content: $icon-electric;
  }
}
.icon-gravity {
  &:before {
    content: $icon-gravity;
  }
}
.icon-mechanics {
  &:before {
    content: $icon-mechanics;
  }
}
.icon-molecule {
  &:before {
    content: $icon-molecule;
  }
}
.icon-momentum {
  &:before {
    content: $icon-momentum;
  }
}
.icon-momentum1 {
  &:before {
    content: $icon-momentum1;
  }
}
.icon-optics {
  &:before {
    content: $icon-optics;
  }
}