// colors
$blue: #002147;
$pink: #D31245;
$red: #da251c;

$accent-color: $blue;
$accent-color-hover: $pink;

$btn-color: $accent-color;

// fonts
$primary-font: 'PT Sans', sans-serif;
$decorate-font: 'DINCondensedC', sans-serif;

// container
$container-width: 1340px;
$container-outer-space: 20px;

// breakpoints
$S: 480px;
$EXS: 600px;
$M: 768px;
$EXM: 800px;
$L: 1025px;
$EXL: 1200px;
$XL: $container-width;

// icomoon
$icon-fb: "\e900";
$icon-home: "\e901";
$icon-search: "\e902";
