.intro-section
  position: relative
  height: 100vh
  margin:
    bottom: 30px
  padding:
    top: $header-height-mob
  background-color: $accent-color
  color: #fff
  font-size: 0
  +vertical
  text-align: left
  overflow: hidden
  .intro-bg
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(#000, .4)
    z-index: 1
  .intro-img
    background-size: cover
    background-position: center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    filter: blur(1px)
  .intro-line
    position: relative
    display: inline-block
    vertical-align: middle
    max-width: 460px
    width: 100%
    z-index: 1
    .main-subtitle
      margin:
        bottom: 10px
  +MQ(M)
    //height: 600px
    padding:
      top: $header-height
    margin:
      bottom: 50px
    .intro-line
      max-width: 560px