.contacts-footer
  font-size: 1.4rem
  margin: 0 -5px
  &__col
    display: inline-block
    vertical-align: top
    padding: 0 5px
  &__line
    text-align: left
  +MQ(L)
    &__email,
    &__link
      +link-hover-border
