.contacts-footer
  font-size: 1.4rem
  margin: 0 -5px
  &__col
    display: inline-block
    vertical-align: top
    padding: 0 5px
  &__line
    text-align: left
    &:not(:last-child)
      margin:
        bottom: 5px
  &__link
    border-bottom: 1px solid #fff
    transition: .2s ease
  +MQ(L)
    &__link
      &:hover
        border-bottom-color: transparent
