$icomoon-font-path: "fonts" !default;

$icon-vacancy: "\e919";
$icon-businessman2: "\e91c";
$icon-earth: "\e91a";
$icon-person-check: "\e91b";
$icon-statistics: "\e91d";
$icon-personal-mail: "\e91e";
$icon-edit-document: "\e91f";
$icon-document-3: "\e920";
$icon-demostration: "\e921";
$icon-curriculum: "\e922";
$icon-curriculum-1: "\e923";
$icon-bar-chart: "\e924";
$icon-work: "\e912";
$icon-document: "\e913";
$icon-question: "\e914";
$icon-graduate: "\e915";
$icon-document-1: "\e916";
$icon-businessman: "\e917";
$icon-businessman-1: "\e918";
$icon-envelope: "\e907";
$icon-phone: "\e908";
$icon-close: "\e904";
$icon-download: "\e905";
$icon-instagram: "\e906";
$icon-right-arrow: "\e903";
$icon-arrow-down: "\e909";
$icon-fb: "\e900";
$icon-home: "\e901";
$icon-search: "\e902";
$icon-atom: "\e90a";
$icon-electric: "\e90b";
$icon-gravity: "\e90c";
$icon-mechanics: "\e90d";
$icon-molecule: "\e90e";
$icon-momentum: "\e90f";
$icon-momentum1: "\e910";
$icon-optics: "\e911";

